<div class="row">
    <div class="col-sm-12 col-md-12">
        <ng-container *ngFor="let item of viewRecord; let i=index">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <b>Order Status</b>
                        </div>
                        <div class="col-md-10">
                            <b> {{item.order_status}}</b>
                            <button class="btn btn-danger">Cancle Order</button>
                            <button class="btn btn-primary" *ngIf="isOrder" (click)="changeStatus()">Change
                                Status</button>
                        </div>
                        <div class="offset-md-2 col-md-10 mt-1" *ngIf="!isOrder">
                            <div class="row">
                                <div class="col-md-8">
                                    <select class="form-control">
                                        <option *ngFor="let orderstatus of lstOrderStatus" [ngValue]="orderstatus">
                                            {{orderstatus.itemName}}
                                        </option>
                                    </select>
                                    <p>
                                        This option is only for advanced users (not recommended to change manually). All
                                        appropriate
                                        actions (such as inventory adjustment, sending notification emails, reward
                                        points,
                                        gift card
                                        activation/deactivation, etc) should be done manually in this case.</p>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary">Save</button>
                                    <button class="btn btn-danger" (click)="cancleEdit()">Cancle</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-2">
                            <b>Order #</b>
                        </div>
                        <div class="col-md-3">
                            {{item.id}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-2">
                            <b> Order GUID </b>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-2">
                            <b> Store </b>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
            </div>
            <!--/card-->

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <b>Customer</b>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-link" (click)="editCustomer(item.customer_id)">
                                {{item.customer.username}}</button>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-2">
                            <b>Customer IP address</b>
                        </div>
                        <div class="col-md-3">
                            {{item.customer_ip}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-2">
                            <b> Order subtotal </b>
                        </div>
                        <div class="col-md-3">
                            {{item.order_subtotal_excl_tax | number:'2.2-2'}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-2">
                            <b> Order Shipping </b>
                        </div>
                        <div class="col-md-3">
                            {{item.order_shipping_excl_tax | number:'2.2-2'}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-2">
                            <b>Order tax </b>
                        </div>
                        <div class="col-md-3">
                            {{item.order_shipping_excl_tax | number:'2.2-2'}}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-2">
                            <b> Order total </b>
                        </div>
                        <!--  -->
                        <div class="col-md-3">
                            {{item.order_total | number:'2.2-2'}}
                        </div>
                    </div>

                    <div class="row mt-3" *ngIf="item.refunded_amount">
                        <div class="col-md-2">
                            <b>Refunded Amount</b>
                        </div>
                        <div class="col-md-3">
                            {{item.refunded_amount | number:'2.2-2'}}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-2">
                            <b> Payment method </b>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
            </div>
            <!--/card-->

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <b>Payment status</b>
                        </div>
                        <div class="col-md-3">
                            {{item.payment_status}}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-2">
                            <b>Created on</b>
                        </div>
                        <div class="col-md-3">
                            {{item.created_on_utc}}
                        </div>
                    </div>
                </div>
            </div>
            <!--/card-->

            <ng-container>