<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <b>Order Status</b>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-2">
                        <b>Order #</b>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-2">
                        <b> Order GUID </b>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-2">
                        <b> Store </b>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>

            </div>
        </div>
        <!--/card-->

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <b>Customer</b>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-2">
                        <b>Customer IP address</b>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-2">
                        <b> Order subtotal </b>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-2">
                        <b>Order tax </b>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-2">
                        <b> Order total </b>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-2">
                        <b> Payment method </b>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
        </div>
        <!--/card-->

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <b>Payment status</b>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-2">
                        <b>Created on</b>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
            </div>
        </div>
        <!--/card-->