<div class="card">
    <div class="card-header">
        <strong>Product List</strong>
    </div>
    <div class="card-body">
        <table class="table table-grid table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>Product name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                    <th>Total</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orderRecord">
                    <!-- <td>{{item.images[0].src}}</td> -->
                    <td></td>
                    <td>{{item.product.name}}</td>
                    <td>{{item.unit_price_excl_tax}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.discount_amount_excl_tax}}</td>
                    <td>{{item.price_excl_tax}}</td>
                    <td>
                        <button class="btn btn-info"><i class="fa fa-pencil"></i> Edit</button>
                        <button class="btn btn-danger mb-1"><i class="fa fa-trash"></i> Delete</button>
                    </td>
                </tr>
                <tr *ngIf="(orderRecord).length == 0" class="alert">
                    <td colspan="8" class="alert">No matching record Found</td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" (click)="addProduct()">ADD PRODUCT</button>
            </div>
        </div>
    </div>
</div>