<div class="card">
    <div class="card-header">
        <strong>Product List</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="itemForm">
            <table class="table table-grid table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Product name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Discount</th>
                        <th>Total</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orderRecord let index = i">
                        <ng-container *ngIf="updateIndex != item.id; else elseTemplate">
                            <td><img src="{{item.product.images.length > 0 ? item.product.images[0].src : 'assets/img/no_image.png'}}"
                                    width="110px" height="110px" alt="product" /></td>
                            <td>{{item.product.name}}</td>
                            <td>{{item.unit_price_excl_tax}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.discount_amount_excl_tax}}</td>
                            <td>{{item.price_excl_tax}}</td>
                            <td>
                                <button class="btn btn-info"><i class="fa fa-pencil"
                                        (click)="editRecord(item.id)"></i></button>
                                <button class="btn btn-danger mb-1" (click)="DeleteRecord(item.id)"><i
                                        class="fa fa-trash"></i></button>
                            </td>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <td><img src="{{item.product.images.length > 0 ? item.product.images[0].src : 'assets/img/no_image.png'}}"
                                    width="110px" height="110px" alt="product" /></td>
                            <td>{{item.product.name}}</td>
                            <td><input type="text" class="form-control" [(ngModel)]="item.unit_price_excl_tax"
                                    formControlName="unitexclprice"></td>

                            <td><input type="text" class="form-control" [(ngModel)]="item.quantity"
                                    formControlName="quantity"> </td>

                            <td><input type="text" class="form-control" [(ngModel)]="item.discount_amount_excl_tax"
                                    formControlName="discount"></td>

                            <td><input type="text" class="form-control" [(ngModel)]="item.price_excl_tax"
                                    formControlName=excltax></td>

                            <td>
                                <button class="btn btn-dark fa fa-save btn-sm" (click)="saveRecord(item.id)"></button>
                                &nbsp;&nbsp; <button type="button" class="btn btn-warning btn-sm fa fa-remove"
                                    (click)="cancelEdit(item.id)"></button>
                            </td>
                        </ng-template>
                    </tr>



                    <tr *ngIf="(orderRecord).length == 0" class="alert">
                        <td colspan="8" class="alert">No matching record Found</td>
                    </tr>
                </tbody>
            </table>
        </form>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" (click)="addProduct()">ADD PRODUCT</button>
            </div>
        </div>
    </div>
</div>