<div class="card">
    <div class="card-header">
        <strong>Product List</strong>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>Product name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                    <th>Total</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>

                <tr>
                    <td colspan="8" class="alert">No matching record Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>