<div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Customers</strong>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                           <th>Email</th>
                           <th>Name</th>
                           <th>Customer roles</th>
                           <th>Company name</th>
                           <th>Active</th>
                           <th>Created on</th>
                           <th>Last activity</th>
                           <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>