<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>
                    Pictures
                </strong>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th *ngFor="let h of tableHeader">{{h | titlecase}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- <form [formGroup]="productPictureForm" class="form-validate" role="form" name="productInfo"> -->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>
                    Add a new picture
                </strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label>Picture</label>
                        <input type="file" id="file-input">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label>Alt</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label>Title</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>Display order</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="row pull-right">
                    <button class="btn btn-primary"><i class="fa fa-plus">Add Product Picture</i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </form> -->