<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th *ngFor="let h of tableHeader">{{h | titlecase}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <div class="pull-left">
                <div class="row">
                    <strong>
                        <h3>Add a new product specification attribute</h3>
                    </strong>
                </div>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>