<div *ngIf="_cS.currentUserRole == 1">
    <div class="content-heading page-title">
        <div>User List</div>
    </div>
    <!-- User List Table  -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card card-default border-color">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Search By Word</label>
                                <input class="form-control" type="text" name="search" placeholder="Search by word"
                                    autocomplete="off" />
                            </div>
                            <div class="col-md-3">
                                <label>Search By Status</label>
                                <select class="form-control">
                                    <option [value]="0">Search by Status</option>
                                    <option [value]="1">Active</option>
                                    <option [value]="2">In Active</option>
                                </select>
                            </div>
                            <div>
                                <button class="btn btn-primary button-link mt-4">Search</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Company</th>
                                        <th>Crated Date</th>
                                        <th>Next Renew Date</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Sushma</td>
                                        <td>sushma@gmail.com</td>
                                        <td>Satva</td>
                                        <td>12/1/2019</td>
                                        <td>12/1/2019</td>
                                        <td>
                                            <label class="switch m-0">
                                                <input type="checkbox" checked="checked" />
                                                <span></span>
                                            </label>
                                        </td>

                                        <td>
                                            <div class="btn-group mb-1 mr-1" dropdown>
                                                <button class="btn dropdown-toggle btn-secondary btn-sm" type="button"
                                                    dropdownToggle><span class="fa-1x icon-list caret"></span>
                                                </button>
                                                <div *dropdownMenu class="dropdown-menu" role="menu">
                                                    <a class="dropdown-item fa-1x far fa-edit" href="#">&nbsp;Edit</a>
                                                    <a class="dropdown-item fa-1x far fa-trash-alt"
                                                        href="#">&nbsp;Delete</a>
                                                    <a class="dropdown-item fa-1x far fa-user" href="#">&nbsp;Login</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Subscription History</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>abc</td>
                                        <td>abc@gmail.com</td>
                                        <td>abc</td>
                                        <td>12/1/2019</td>
                                        <td>12/1/2019</td>
                                        <td>
                                            <div class="ml-auto">
                                                <label class="switch m-0">
                                                    <input type="checkbox" checked="checked" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group mb-1 mr-1" dropdown>
                                                <button class="btn dropdown-toggle btn-secondary btn-sm" type="button"
                                                    dropdownToggle><span class="fa-1x icon-list caret"></span>
                                                </button>
                                                <div *dropdownMenu class="dropdown-menu" role="menu">
                                                    <a class="dropdown-item fa-1x far fa-edit" href="#">&nbsp;Edit</a>
                                                    <a class="dropdown-item fa-1x far fa-trash-alt"
                                                        href="#">&nbsp;Delete</a>
                                                    <a class="dropdown-item fa-1x far fa-user" href="#">&nbsp;Login</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Subscription History</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>asd</td>
                                        <td>asd@gmail.com</td>
                                        <td>asd</td>
                                        <td>12/1/2019</td>
                                        <td>12/1/2019</td>
                                        <td>
                                            <div class="ml-auto">
                                                <label class="switch m-0">
                                                    <input type="checkbox" checked="checked" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group mb-1 mr-1" dropdown>
                                                <button class="btn dropdown-toggle btn-secondary btn-sm" type="button"
                                                    dropdownToggle><span class="fa-1x icon-list caret"></span>
                                                </button>
                                                <div *dropdownMenu class="dropdown-menu" role="menu">
                                                    <a class="dropdown-item fa-1x far fa-edit" href="#">&nbsp;Edit</a>
                                                    <a class="dropdown-item fa-1x far fa-trash-alt"
                                                        href="#">&nbsp;Delete</a>
                                                    <a class="dropdown-item fa-1x far fa-user" href="#">&nbsp;Login</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Subscription History</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>dfdsf</td>
                                        <td>dfdsf@gmail.com</td>
                                        <td>dfdsf</td>
                                        <td>12/1/2019</td>
                                        <td>12/1/2019</td>
                                        <td>
                                            <div class="ml-auto">
                                                <label class="switch m-0">
                                                    <input type="checkbox" checked="checked" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group mb-1 mr-1" dropdown>
                                                <button class="btn dropdown-toggle btn-secondary btn-sm" type="button"
                                                    dropdownToggle><span class="fa-1x icon-list caret"></span>
                                                </button>
                                                <div *dropdownMenu class="dropdown-menu" role="menu">
                                                    <a class="dropdown-item fa-1x far fa-edit" href="#">&nbsp;Edit</a>
                                                    <a class="dropdown-item fa-1x far fa-trash-alt"
                                                        href="#">&nbsp;Delete</a>
                                                    <a class="dropdown-item fa-1x far fa-user" href="#">&nbsp;Login</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Subscription History</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- User List Table End -->
</div>
<div *ngIf="_cS.currentUserRole != 1">
    <h1> {{ _cS.UserPermissionMessage }}</h1>
</div>