<div class="card card-default">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover table-bordered" style="max-width: 500px;">
                    <tbody>
                        <tr>
                            <th colspan="2" class="bg-dark">
                                <strong>Billing address</strong>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Full name
                            </td>
                            <td>
                                virendra maheta
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Email
                            </td>
                            <td>
                                virendra@gmail.com
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Phone
                            </td>
                            <td>
                                2323232322
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Fax
                            </td>
                            <td>
                                12312313
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Company
                            </td>
                            <td>
                                asd
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Address 1
                            </td>
                            <td>
                                Ganesh Meridian
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Address 2
                            </td>
                            <td>
                                Satva Solutions
                            </td>
                        </tr>
                        <tr>
                            <td>
                                City
                            </td>
                            <td>
                                Ahmedabad
                            </td>
                        </tr>
                        <tr>
                            <td>
                                State / province
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Zip / postal code
                            </td>
                            <td>
                                360005
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Country
                            </td>
                            <td>
                                India
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary">Edit</button>

            </div>
            <div class="col-md-6">
                <table class="table table-hover table-bordered" style="max-width: 500px;">
                    <tbody>
                        <tr>
                            <th colspan="2" class="bg-dark">
                                <strong>Shipping address</strong>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Full name
                            </td>
                            <td>
                                virendra maheta
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Email
                            </td>
                            <td>
                                virendra@gmail.com
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Phone
                            </td>
                            <td>
                                2323232322
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Fax
                            </td>
                            <td>
                                12312313
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Company
                            </td>
                            <td>
                                asd
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Address 1
                            </td>
                            <td>
                                Ganesh Meridian
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Address 2
                            </td>
                            <td>
                                Satva Solutions
                            </td>
                        </tr>
                        <tr>
                            <td>
                                City
                            </td>
                            <td>
                                Ahmedabad
                            </td>
                        </tr>
                        <tr>
                            <td>
                                State / province
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Zip / postal code
                            </td>
                            <td>
                                360005
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Country
                            </td>
                            <td>
                                India
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <img alt="google maps" src="/css/admin/images/google-maps.gif">
                                <a href="https://maps.google.com/maps?f=q&amp;hl=en&amp;ie=UTF8&amp;oe=UTF8&amp;geocode=&amp;q=Ganesh+Meridian+360005+Ahmedabad+India"
                                    style="margin-bottom: 10px;" target="_blank">View address on Google Maps</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>

<div class="card card-default">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <b>Shipping method</b>
            </div>
            <div class="col-md-10">
                <b>method</b>
                <button class="btn btn-primary mx-2">Edit</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <b>Shipping Status</b>
            </div>
            <div class="col-md-10">
                <b>Not yet shipped</b>
            </div>
        </div>
    </div>
</div>