<div *ngIf="_cS?.currentUserRole == 1">
    <div class="content-heading page-title">
        <div>User Registration</div>
    </div>

    <div class="card card-default border-color">
        <div class="cord-body mx-3">
            <div class="form-group row mt-3">
                <div class="col-lg-12">
                    <form [formGroup]="registerForm" class="form-validate" role="form" name="registerForm" novalidate=""
                        (submit)="submitForm($event, registerForm.value)">
                        <div class="form-row">
                            <div class="col-lg-6 mb-3">
                                <div class="with-focus">
                                    <label>First Name</label>
                                    <input class="form-control" type="text" name="firstname" placeholder="First Name"
                                        autocomplete="off" formControlName="fname" required="" />
                                    <div class="text-danger"
                                        *ngIf="registerForm.controls['fname'].hasError('required') && (registerForm.controls['fname'].dirty || registerForm.controls['fname'].touched)">
                                        This field is required</div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div class="with-focus">
                                    <label>Last Name</label>
                                    <input class="form-control" id="exampleInputlname" type="text" name="lastname"
                                        placeholder="Last Name" autocomplete="off" formControlName="lname"
                                        required="" />
                                </div>
                                <div class="text-danger"
                                    *ngIf="registerForm.controls['lname'].hasError('required') && (registerForm.controls['lname'].dirty || registerForm.controls['lname'].touched)">
                                    This field is required</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6 mb-3">
                                <div class="with-focus">
                                    <label>Email address</label>
                                    <input class="form-control " type="email" name="email" placeholder="Email"
                                        autocomplete="off" formControlName="email" required="" />
                                    <div class="text-danger"
                                        *ngIf="registerForm.controls['email'].hasError('required') && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
                                        This field is required</div>
                                    <span class="text-danger"
                                        *ngIf="registerForm.get('email').hasError('email') && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                                        Please enter valid email address</span>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div class="with-focus">
                                    <label>company Name</label>
                                    <input class="form-control " type="text" name="companyname"
                                        placeholder="Company Name" autocomplete="off" formControlName="companyname"
                                        required="" />
                                    <div class="text-danger"
                                        *ngIf="registerForm.controls['companyname'].hasError('required') && (registerForm.controls['companyname'].dirty || registerForm.controls['companyname'].touched)">
                                        This field is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6 mb-3">
                                <div class="with-focus">
                                    <label>Password</label>
                                    <input class="form-control " type="password" name="passsword" placeholder="Password"
                                        autocomplete="off" formControlName="password" required="" />
                                    <div class="text-danger"
                                        *ngIf="registerForm.controls['password'].hasError('required') && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
                                        This field is required</div>
                                    <div class="text-danger"
                                        *ngIf="registerForm.get('password').hasError('pattern') && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                                        Password containt 6- 10 characters</div>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="with-focus">
                                    <label>Confirm Password</label>
                                    <input class="form-control " type="password" placeholder="Confirm Password"
                                        autocomplete="off" formControlName="cpassword" />
                                    <div class="text-danger"
                                        *ngIf="registerForm.controls['cpassword'].hasError('required') && (registerForm.controls['cpassword'].dirty || registerForm.controls['cpassword'].touched)">
                                        This field is required</div>
                                    <span *ngIf="!registerForm.controls['cpassword'].hasError('required')">
                                        <span class="text-danger"
                                            *ngIf="registerForm.controls['cpassword'].hasError('equalTo') && (registerForm.controls['cpassword'].dirty || registerForm.controls['cpassword'].touched)">
                                            Passwords do not match</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <!-- <div class="col-lg-6 mb-3">
                            <div class="with-focus">
                                <label>Role</label>
                                <select class="form-control " id="" required="" formControlName="role">
                                    <option [value]="0">Role</option>
                                    <option [value]="1">Admin</option>
                                    <option [value]="2">User</option>
                                </select>
                            </div>
                        </div> -->
                            <div class="col-lg-6 mb-3">
                                <div class="with-focus">
                                    <label class="col-12">Status</label>
                                    <div class="c-radio">
                                        <label>
                                            <input type="radio" value="active" name="status" checked="checked"
                                                formControlName="status" />
                                            <span class="fa fa-circle"></span>Active</label>&nbsp;&nbsp;
                                        <label>
                                            <input type="radio" value="inactive" name="status"
                                                formControlName="status" />
                                            <span class="fa fa-circle"></span>In Active</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <button class="btn btn-primary button-link col-lg-1 offset-lg-5" type="submit">Sign
                                Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="_cS?.currentUserRole != 1">
    <h1> {{ _cS.UserPermissionMessage }}</h1>
</div>