<div class="container container-md py-4">
        <div class="text-center mb-3 pb-3">
            <div class="h2 text-bold">Launch your business today</div>
            <p>Select the plan in different options that best fit your project</p>
        </div>
    </div>
    <div class="container container-md col-lg-12">
        <!-- START PLAN TABLE-->
        <div class="row">
            <!-- PLAN-->
            <div class="col-lg-4">
                <div class="plan">
                    <h3 class="plan-header">Silver Plan</h3>
                    <div class="plan-price">
                        <div class="text-lg">
                                <sup>
                                        <small>$</small>
                                    </sup>
                            <span class="text-lg">58</span>
                            <span>/mo</span>
                            <!-- span.plan-period /mo-->
                        </div>
                    </div>
                    <ul class="plan-features">
                        <li> 
                            <em class="fa fa-check"></em> No Setup Fees</li>
                        <li>
                            <em class="fa fa-check"></em>50 Transaction per month</li>
                        <li>
                            <em class="fa fa-check"></em>Email Support</li>
                        <li>
                            <em class="fa fa-check"></em>Live Chat Support</li>
                    </ul>
                    <hr/>
                    <div class="text-center">
                        <a class="btn btn-info" href="#" (click)="pop()">Choose</a>
                    </div>
                </div>
            </div>
            <!-- PLAN-->
            <div class="col-lg-4">
                <div class="plan">
                        <div class="card-body text-center bg-green">
                                <h3 class="text-bold">Gold Plan</h3>
                                <h3 class="my-3">
                                        <sup>
                                                <small>$</small>
                                            </sup>
                                    <span class="text-lg">68</span>
                                    <span>/mo</span>
                                </h3>
                            </div>
                    <ul class="plan-features">
                        <li>
                            <em class="fa fa-check"></em>No Setup Fees</li>
                        <li>
                            <em class="fa fa-check"></em>500 Transaction per month</li>
                        <li>
                            <em class="fa fa-check"></em>Email Support</li>
                        <li>
                            <em class="fa fa-check"></em>Live Chat Support </li>
                    </ul>
                    <hr/>
                    <!-- <p class="plan-description">The perfect price for all your project solutions.</p> -->
                    <!-- <div class="text-center">
                        <a class="btn btn-info" href="#" (click)="pop()">Choose</a>
                    </div> -->
                </div>
            </div>
            <!-- PLAN-->
            <div class="col-lg-4">
                <div class="plan">
                    <h3 class="plan-header">Platinum Plan</h3>
                    <div class="plan-price">
                        <div class="text-lg">
                                <sup>
                                        <small>$</small>
                                    </sup>
                            <span class="text-lg">78</span>
                            <span>/mo</span>
                            <!-- span.plan-period /mo -->
                        </div>
                    </div>
                    <ul class="plan-features">
                        <li>
                            <em class="fa fa-check"></em>No Setup Fees</li>
                        <li>
                            <em class="fa fa-check"></em>1000 Transaction per month</li>
                        <li>
                            <em class="fa fa-check"></em>Email Support</li>
                        <li>
                            <em class="fa fa-check"></em>Live Chat Support</li>
                    </ul>
                    <hr/>
                    <div class="text-center">
                        <a class="btn btn-info" href="#" (click)="pop()">Choose</a>
                    </div>
                </div>
                <!-- <p class="text-center text-muted">
                    <small>* Subject to specific license terms. Price and features listed for demo only.</small>
                </p> -->
            </div>
        </div>
        <!-- END PLAN TABLE-->
        
        <p class="text-center text-muted">
            <small>* Subject to specific license terms. Price and features listed for demo only.</small>
        </p>
    </div>
    