<div class="content-heading page-title">
  <div>Configuration</div>
</div>

<div class="row">
  <div class="col-12 col-md-12 col-lg-6 col-xl-6">
    <div class="card detail-box card-default border-color">
      <div class="card-body text-center card-detail">
        <div class="py-1 header-box" [ngClass]="{'active': !isViewable , '' : isViewable}">
          <img class="img-fluid logo-box" src="assets/img/mbo.png" alt="Contact" />
          <div class="verify-icon">
            <em class="fa-2x mr-2 fas icon-color"
              [ngClass]="{'fa-check-circle': !isViewable, 'fa-times-circle' : isViewable}"></em>
          </div>

          <em class="fa-2x mr-2 fas fa-question-circle help-icon" data-placement="bottom"
            tooltip="To Know how to generate the token click here"></em>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label class="text-left lable-text">Site Id </label>
              <input class="form-control" type="text" placeholder="Site Id" [readOnly]="!isViewable" />
              <!-- <div class="text-danger"
                *ngIf="mindbodyPanel.controls['siteid'].hasError('required') && (mindbodyPanel.controls['siteid'].dirty || mindbodyPanel.controls['siteid'].touched)">
                This field is required</div> -->
            </div>
          </div>
          <div class="col-12 col-md-8">
            <div class="form-group">
              <label class="text-left lable-text">key</label>
              <input class="form-control" type="text" placeholder="key" [readOnly]="!isViewable" />
              <!-- <div class="text-danger"
                *ngIf="mindbodyPanel.controls['key'].hasError('required') && (mindbodyPanel.controls['key'].dirty || mindbodyPanel.controls['key'].touched)">
                This field is required</div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer  footer-box">
        <div class="float-right">
          <button *ngIf="isViewable" type="button" class="btn btn-primary button-link"
            (click)="isViewable = false" >
            Verify
          </button>
        </div>
        <div class="float-right">
          <button *ngIf="!isViewable" type="button" class="btn btn-primary button-link change-button"
            (click)="isViewable = true">
            Change
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-12 col-lg-6 col-xl-6">
    <div class="card detail-box card-default border-color">
      <div class="card-body text-center card-detail">
        <div class="py-1 header-box" [ngClass]="{'': isViewablePd , 'active' : !isViewablePd}">
          <img class="img-fluid logo-box-1" src="assets/img/logo-1.png" alt="Contact" />
          <div class="verify-icon">
            <em class="fa-2x mr-2 fas icon-color"
            [ngClass]="{'fa-check-circle': !isViewablePd, 'fa-times-circle' : isViewablePd}"></em>
          </div>
          <em class="fa-2x mr-2 fas fa-question-circle help-icon" data-placement="left"
            tooltip="To Know how to generate the token click here"></em>
        </div>
        <!-- <h3 class="m-0 text-bold">Audrey Hunt</h3> -->
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="form-group">
              <label class="text-left lable-text">Token key</label>
              <input class="form-control" [(ngModel)]="pipedrivetoken" type="text" placeholder="Token key" [readOnly]="!isViewablePd"/>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer  footer-box">
        <div class="float-right">
          <button *ngIf="isViewablePd" type="button" class="btn btn-primary button-link"
            (click)="isViewablePd = false" >
            Verify
          </button>
        </div>
        <div class="float-right">
          <button *ngIf="!isViewablePd" type="button" class="btn btn-primary button-link change-button"
          (click)="isViewablePd = true">
          Change
        </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card detail-box card-default border-color" *ngIf="!isViewable && !isViewablePd">
      <div class="configuration-box">
        <div class="configuration-box-one">
          <div class="header-title-box">
            <h2 class="header-title-text mindbody-color">mindbody</h2>
          </div>
          <div class="configuration-detail">
            <div class="question-box">
              <strong class="question-text">When Class is scheduled?</strong>
              <em class="fa-2x mr-2 fas fa-long-arrow-alt-right right-arrow"></em>
            </div>
            <p class="degdescription-text">
              Few line for the mention process goes here. Lorem Ipsum is simply
              dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s,
            </p>
          </div>
        </div>

        <div class="configuration-box-two">
          <div class="header-title-box">
            <h2 class="header-title-text color-change">Pipedrive</h2>
            <button class="btn btn-primary button-link button-box" type="button" data-placement="left" tooltip="Click here to setup the pre configuration pipleine stages">Set Pre-Configure</button>
          </div>
          <div class="configuration-detail">
            <div class="row">
              <div class="col-12 col-md-5">
                <div class="form-group">
                  <label>Pipeline </label>
                  <select class="form-control">
                    <option [value]="0">MBO Pipeline</option>
                    <option [value]="1">Vagaro Pipeline</option>
                    <option [value]="2">MBO Pipeline2</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="form-group">
                  <label>Stage</label>
                  <select class="form-control">
                    <option [value]="0">Lead In</option>
                    <option [value]="1">Free Class Intro</option>
                    <option [value]="2">Class Scheduled</option>
                    <option [value]="0">Class Completed</option>
                    <option [value]="1">Follow Up</option>
                    <option [value]="2">Package Sold</option>
                    <option [value]="0">Expired(ing) Package</option>
                    <option [value]="1">Membership Sold</option>
                    <option [value]="2">Class Pass</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-xl-2">
                <div class="checkbox">
                  <div class="check-wrap"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="configuration-box">
        <div class="configuration-box-one">
          <div class="configuration-detail">
            <strong class="question-text">When class is completed?</strong>
            <em class="fa-2x mr-2 fas fa-long-arrow-alt-right right-arrow"></em>
            <p class="degdescription-text">
              Few line for the mention process goes here. Lorem Ipsum is simply
              dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s,
            </p>
          </div>
        </div>
        <div class="configuration-box-two">
          <div class="configuration-detail">
            <div class="row">
              <div class="col-12 col-md-5">
                <div class="form-group">
                  <label>Pipeline</label>
                  <select class="form-control">
                    <option [value]="0">MBO Pipeline</option>
                    <option [value]="1">Vagaro Pipeline</option>
                    <option [value]="2">MBO Pipeline2</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="form-group">
                  <label>Stage</label>
                  <select class="form-control">
                    <option [value]="0">Lead In</option>
                    <option [value]="1">Free Class Intro</option>
                    <option [value]="2">Class Scheduled</option>
                    <option [value]="0">Class Completed</option>
                    <option [value]="1">Follow Up</option>
                    <option [value]="2">Package Sold</option>
                    <option [value]="0">Expired(ing) Package</option>
                    <option [value]="1">Membership Sold</option>
                    <option [value]="2">Class Pass</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-xl-2">
                <div class="checkbox">
                  <em class="fa-2x mr-2 fas fa-times-circle icon-color icon-size"></em>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>