// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

//toaster css

//custome css
.isShipping,
.associateType,
.hideUi,
.stockQuan {
  display: none;
}

.shipping {
  display: block;
}

.left-margin {
  margin-left: 10px;
}

.top-mrging {
  margin-top: 10px;
}
