<div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Customers</strong>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                           <th>Order#</th>
                           <th>Order total</th>
                           <th>Order status</th>
                           <th>Payment status</th>
                           <th>Shipping status</th>
                           <th>Created on</th>
                           <th>View</th>
                           
                        </tr>
                        <tr>
                            <td *ngFor="let o of lstOrders; let i=index">{{o}}</td>
                            <!-- <td></td>
                            <td>order status</td>
                            <td>payment status</td>
                            <td>shipping status</td>
                            <td>created on</td> -->
                            <td>
                                <a class="btn btn-secondary" (click)="navigateToOrders()">
                                    <i class="fa fa-eye"></i>
                                    View
                                </a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <!-- <div class="row">
                    <div class="col-md-3 col-12">
                        <div class="total-count--table">
                            <span>Total number of records : {{ totalRecords}}</span>
                            <button class="btn btn-primary" (click)="getCustomerList()"><i
                                    class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <div class="col-md-6 col-12" *ngIf="(lstcustomers).length > 0">
                        <div class="text-right pagignation-page">
                            <pagination-controls class="pagination-sm pagination-box"
                                (pageChange)="pageChanged($event)">
                            </pagination-controls>
                        </div>
                    </div>

                    <div class="col-md-3 col-12" *ngIf="lstcustomers.length > 0">
                        <div class="text-left pagignation-select">
                            <select class="form-control" [(ngModel)]="pageSize"
                                (change)="changePageSize($event.target.value)">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>